image:
  repository: openfire-oci
  tag: "5.0.3"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  ports:
    xmpp: 5222
    xmppSsl: 5223
    s2s: 5269
    s2sSsl: 5270
    component: 5275
    componentSsl: 5276
    bosh: 7070
    boshSsl: 7443
    fileTransfer: 7777
    admin: 9090
    adminSsl: 9091

route:
  enabled: false
  host: openfire.apps.example.com

persistence:
  storageClassName: ""
  data:
    size: 1Gi
  plugins:
    size: 512Mi

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
