image:
  repository: openfire-ubi
  tag: "5.0.3"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  ports:
    xmpp: 15222
    xmppSsl: 15223
    s2s: 5269
    bosh: 7070
    boshSsl: 7443
    admin: 19090
    adminSsl: 19091

route:
  enabled: false
  host: openfire.apps.example.com

persistence:
  data:
    size: 1Gi
  plugins:
    size: 512Mi

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
