[Unit]
Description=Openfire XMPP Server
After=network-online.target
Wants=network-online.target

[Container]
Image=openfire-ubi:5.0.3
ContainerName=openfire

PublishPort=19090:19090
PublishPort=19091:19091
PublishPort=15222:15222
PublishPort=15223:15223
PublishPort=5269:5269

Volume=/var/lib/openfire/conf:/opt/openfire/conf:Z
Volume=/var/lib/openfire/embedded-db:/opt/openfire/embedded-db:Z
Volume=/var/lib/openfire/plugins:/opt/openfire/plugins:Z
Volume=/var/lib/openfire/security:/opt/openfire/resources/security:Z

User=1001
Group=0

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
